<template>
  <li class="news-card">
    <img
      :src="article.urlToImage"
      :alt="article.title"
      class="news-card__image"
    />
    <section class="news-card__body">
      <h4 class="news-card__title">{{ article.title }}</h4>
      <p class="news-card__description">{{ article.description }}</p>
    </section>
  </li>
</template>

<script>
export default {
  name: "NewsCard",
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.news-card {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: .25rem;
    overflow: hidden;
}
.news-card__body {
  padding: 1rem;
}
.news-card__image {
  max-width: 100%;
}
.news-card__title {
}
.news-card__description {
}
</style>